:root {
    --color-primary: #269fe6;
    --color-primary-hover: #2086c2;
    --color-primary-dark: #13141f;
    --color-primary-dark-hover: #212336;
    --color-primary-light: #d4ecfa;
    --color-primary-light-hover: #bdd8e7;

    --color-white: #fff;
    --color-black: #000;

    --color-dark-text: #444;
    --color-info-light: #cce5ff;
    --color-debug-light: #cce5ff;
    --color-success-light: #d4edda;
    --color-alert-light: #fff3cd;
    --color-warning-light: #fff3cd;
    --color-error-light: #f8d7da;

    --color-info-dark: #4d86c4;
    --color-debug-dark: #4d86c4;
    --color-success-dark: #4a9c5d;
    --color-alert-dark: #927f40;
    --color-warning-dark: #927f40;
    --color-error-dark: #da525d;

    --color-gray-0: #f9f9f9;
    --color-gray-1: #e0e0e0;
    --color-gray-2: #c7c7c7;
    --color-gray-3: #aeaeae;
    --color-gray-4: #959595;
    --color-gray-5: #7d7d7d;
    --color-gray-6: #646464;
    --color-gray-7: #4b4b4b;
    --color-gray-8: #323232;
    --color-gray-9: #191919;

    --font-primary: sans-serif;
    --font-headings: 'Roboto Slab', serif;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: var(--font-primary);
    background: var(--color-info-dark);
    color: var(--color-dark-text);
}

header {
    text-align: center;
    background: var(--color-primary-dark-hover);
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

header h1 {
    color: var(--color-debug-light);
}

header .actions {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#hamburguer {
    z-index: 999;
    position: absolute;
    top: calc(10vh + 100px);
    left: 0%;
    background: var(--color-primary-dark-hover);
    color: var(--color-info-light);
    border-radius: 0px 10px 10px 0px;
    padding: 10px;
    box-shadow: var(--color-info-light) 0px 0px 2px;
    transition: ease-in-out 0.3s;
}   
#hamburguer span {
    font-size: 20pt;
}
#menu {
    z-index: 999;
    position: absolute;
    display: block;
    top: 0%;
    left: -290px;
    width: 300px;
    height: 100vh;
    background: var(--color-primary-dark-hover);
    transition: ease-in-out 0.3s;
}

.actions div {
    border-radius: 10px;
    padding: 5px;
    margin: 5px;
    color: var(--color-debug-light);
    display: inline-block;
    transition: ease-in-out 0.2s;
}
.actions div:hover {
    transform: scale(1.1);
}
.actions div a {
    text-decoration: none;
    color: var(--color-info-light);
}

main {
    height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: auto;
}
main iframe {
    width: 100%;
    height: 100%;
}

footer {
    background: var(--color-primary-dark-hover);
    height: 5vh;
    padding: 10px;
    text-align: center;
    color: var(--color-info-light);
}

@media screen and (max-width: 768px) {
    /* Regras de estilo para telas com largura máxima de 768px */
}

@media screen and (min-width: 768px) and (max-width: 992px) {
    /* Regras de estilo para telas com largura entre 768px e 992px */
}

@media screen and (min-width: 992px) {
    /* Regras de estilo para telas com largura mínima de 992px */
}